.menu-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  font-family: var(--logo-font-family);
  z-index: 50;
  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  .link-text {
    color: var(--menu-text-color);
    font-size: var(--menu-font-size);
    padding: 20px 40px;
  }
  &__home {
    background-color: var(--menu-home-btn-color);
    border-bottom: var(--menu-bottom-border);
    position: relative;
    z-index: 15;
  }
  &__about {
    background-color: var(--menu-about-btn-color);
    border-bottom: var(--menu-bottom-border);
    position: relative;
    z-index: 14;
  }
  &__contact {
    background-color: var(--menu-contact-btn-color);
    position: relative;
    z-index: 13;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    .page-link {
    }
    .link-text {
    }
    &__home {
    }
    &__about {
    }
    &__contact {
    }
  }
}

@media only screen and (min-width: 1230px) {
  .menu-container {
    display: flex;
    position: static;
    width: auto;
    height: 40px;
    font-size: 25px;
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }
    .link-text {
      padding: 0px 15px 0 12px;
      margin: 0 10px;
    }
    &__home {
    }
    &__about {
    }
    &__contact {
    }
  }
}
