.menu-container {
  display: grid;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);

  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-text {
    color: var(--menu-text-color);
    padding: 20px 40px;
  }
  &__home {
    background-color: var(--menu-home-btn-color);
  }
  &__about {
    background-color: var(--menu-about-btn-color);
  }
  &__contact {
    background-color: var(--menu-contact-btn-color);
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    .page-link {
    }
    .link-text {
    }
    &__home {
    }
    &__about {
    }
    &__contact {
    }
  }
}

@media only screen and (min-width: 1230px) {
  .menu-container {
    display: flex;
    position: static;
    width: auto;
    height: 40px;
    font-size: 25px;
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }
    .link-text {
      padding: 0px 10px;
      margin: 0 10px;
    }
    &__home {
    }
    &__about {
    }
    &__contact {
    }
  }
}
