.menu-container {
  display: grid;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__home {
    background-color: var(--menu-home-btn-color);
  }
  &__about {
    background-color: var(--menu-about-btn-color);
  }
  &__contact {
    background-color: var(--menu-contact-btn-color);
  }
}
