.about-container {
  padding: 30px 30px 0 30px;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--about-text-font-family);
  &__image {
    margin-top: 20px;
    width: 320px;
    height: auto;
  }
  &__description {
    max-width: 500px;
    text-align: left;
    color: var(--description-text-color);
    > h1 {
      font-size: 30px;
      margin-top: 10px;
      color: var(--header-text-color);
    }
    > p {
      font-size: var(--description-font-size);
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-container {
    &__image {
    }
    &__description {
      > h1 {
        font-weight: 900;
      }
      > p {
      }
    }
  }
}

@media only screen and (min-width: 1230px) {
  .about-container {
    padding-top: 50px;
    flex-direction: row-reverse;
    &__image {
      width: 525px;
      margin: auto 0;
      margin-left: 50px;
    }
    &__description {
      max-width: 350px;
      line-height: 35px;
      text-align: left;
      > h1 {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 32px;
      }
      > p {
        font-size: 20px;
      }
    }
  }
}
