.contact-page-container {
  padding: 50px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    font-family: "Overlock", cursive;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 24px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    font-size: 14px;
    color: var(--contact-text-color);
    border-radius: 20px;
    padding-top: 20px;
    max-width: 500px;
    .form {
      display: flex;
      flex-direction: column;
      .input-container {
        margin-bottom: 16px;
        > label {
          padding-bottom: 4px;
          display: inline-block;
          font-size: 24px;
        }
      }
      .input-section {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
        padding: 0 10px;
        color: var(--contact-input-text-color);
        background-color: var(--contact-input-background-color);
      }
      &__email {
        outline: none;
      }
      &__name {
        outline: none;
      }
      &__message {
        outline: none;
        height: 200px !important;
      }
      &__submit-btn {
        outline: none;
        border: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        padding: 5px;
        font-size: 25px;
        width: 8rem;
        border-radius: 6px;
        background-color: var(--contact-button-background-color);
        color: var(--contact-button-text-color);
      }
    }
  }
}

@media only screen and (min-width: 1230px) {
  .contact-page-container {
    padding: 30px 20px 0 20px;
    .header {
      font-family: "Overlock", cursive;
      font-weight: 900;
      font-size: 50px;
      margin-bottom: 24px;
    }
    .form-container {
      .form {
        .input-container {
          > label {
          }
        }
        .input-section {
        }
        &__email {
        }
        &__name {
        }
        &__message {
        }
        &__submit-btn {
        }
      }
    }
  }
}
