.contact-page-container {
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    font-size: 14px;
    // background-color: var(--contact-background-color);
    color: var(--contact-text-color);
    border-radius: 20px;
    padding-top: 40px;

    .form {
      display: flex;
      flex-direction: column;
      .input-container {
        margin-bottom: 16px;
        > label {
          padding-bottom: 4px;
          display: inline-block;
        }
      }
      .input-section {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0 10px;
        color: var(--contact-input-text-color);
        background-color: var(--contact-input-background-color);
      }
      &__email {
        outline: none;
      }
      &__name {
        outline: none;
      }
      &__message {
        outline: none;
        height: 200px !important;
      }
      &__submit-btn {
        outline: none;
        border: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        padding: 5px;
        font-size: 25px;
        width: 8rem;
        border-radius: 10px;
        background-color: var(--contact-button-background-color);
        color: var(--contact-button-text-color);
      }
    }
  }
}
