/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* font-family: 'Kaushan Script', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Top Bar Elements */
  /* Logo */
  --logo-font-family: "Kaushan Script", cursive;
  /* Hamburger Button */
  --topbar-color: rgb(73, 73, 73);
  --logo-color: rgb(255, 255, 255);
  --menu-btn-color: rgb(255, 255, 255);
  /* Menu Setions */
  --menu-active-text-color: rgb(255, 255, 255);
  --menu-active-background-color: rgb(0, 0, 0);
  --menu-text-color: rgb(255, 255, 255);
  --menu-home-btn-color: rgb(156, 86, 28);
  --menu-about-btn-color: rgb(33, 86, 121);
  --menu-contact-btn-color: rgb(7, 146, 116);
  /*  */

  /* Layout Background */
  --layout-color: rgb(126, 125, 143);
  /*  */

  /* Footer */
  --footer-text-color: rgb(255, 255, 255);
  --footer-background-color: rgb(53, 53, 53);
  /*  */

  /* Home Page */
  --switch-handle-color: rgb(255, 255, 255);
  --switch-text-color: rgb(255, 255, 255);
  --switch-text-font-family: "Kaushan Script", cursive;
  --switch-raster-color: rgb(0, 0, 0);
  --switch-vector-color: rgb(0, 0, 0);

  /*  */
}
