.home-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 16px;
  text-align: center;
  .ant-switch {
    transform: scale(2);
    margin-bottom: 20px;
    background-color: var(--switch-vector-color);
  }
  .ant-switch:focus:hover {
  }
  .ant-switch-checked {
    background-color: var(--switch-raster-color);
  }
  .ant-switch-handle::before {
    background-color: var(--switch-handle-color);
  }
  .ant-switch-inner {
    font-size: 20px;
    color: var(--switch-text-color);
    font-family: var(--switch-text-font-family);
  }
  .grid-container {
    &__illustrations {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
      grid-gap: 20px;
    }
  }
}
