.home-container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
  padding: 32px 24px 20px 24px;
  text-align: left;
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    &__header {
      font-family: "Overlock", cursive;
      font-weight: 900;
      font-size: 50px;
      margin-bottom: 24px;
      margin-right: auto;
    }
  }

  .grid-container {
    &__illustrations {
      > div {
        border-radius: 6px;
        -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.6);
      }
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
      grid-gap: 20px;
    }
  }
}

@media only screen and (min-width: 1230px) {
  .home-container {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    padding: 32px 24px 20px 24px;
    text-align: left;
    .home-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      &__header {
        font-family: "Overlock", cursive;
        font-weight: 900;
        font-size: 50px;
        margin-bottom: 24px;
        margin-right: auto;
      }
    }
    .grid-container {
      &__illustrations {
        > div {
        }
      }
    }
  }
}
