.tabs-container {
  .tab {
    padding: 2px 20px;
    font-size: var(--type-tabs-font-size);
    font-family: var(--type-tabs-text-font-family);
    font-weight: 700;
  }
  &__raster {
  }
  &__vector {
  }

  .active {
    background-color: var(--type-tabs-active-backgroundcolor);
    color: var(--type-tabs-active-text-color);
  }
  .disable {
    background-color: var(--type-tabs-backgroundcolor);
    color: var(--type-tabs-text-color);
  }
}
